*{
    margin: 0px;
    padding: 0px;
}



$ColorW: #ffff;
$ColorB: #373049;
$colorBlue: #02205F;
html,body{
    height: 100%;
    background: $ColorB;
    
}


#root{
    width: 450px;
    height: 100%;
    background: $ColorW;
    margin: 0px auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

.loader{
    z-index: 1;
    width: 450px;
    height: 100%;
    background: $colorBlue;
    position: absolute;
    animation: hideLoader 10s ease-in-out forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 25%;
    }
}

@keyframes hideLoader {
    60% {
        opacity: 1;
      }
      99%{
        opacity: 0;
      }
      100% {
        display: none;
        z-index: -10;
      }
    
}