* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "Regular";
  src: url("../../public/Peyda/Peyda-Regular.ttf");
}
@font-face {
  font-family: "Bold";
  src: url("../../public/Peyda/Peyda-Bold.ttf");
}
html, body {
  height: 100%;
  background: #373049;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  width: 450px;
  height: 100vh;
  background: white;
  margin: 0px auto;
  overflow-x: hidden;
  overflow-y: scroll;
}
#root::-webkit-scrollbar {
  width: 5px;
}

.loader {
  z-index: 5;
  width: 450px;
  height: 100vh;
  background: #02205F;
  position: fixed;
  animation: hideLoader 2s ease-in-out forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader img {
  width: 45%;
}

@keyframes hideLoader {
  60% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
    visibility: hidden;
  }
}
.home {
  display: flex;
  flex-direction: column;
  width: 450px;
}
.home .Hdr {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  width: 450px;
  background-color: #fff;
}
.home .title {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 1px #e6e7e8 solid;
  margin-bottom: 20px;
  margin-top: 40px;
  position: relative;
  margin: 20px auto 0px auto;
  width: 90%;
  border-bottom: 1px rgba(55, 48, 73, 0.3) solid;
}
.home .conteinerAds {
  margin-top: 0px;
  margin-bottom: 130px;
}
.home .conteinerAds .ads {
  width: calc(100% - 40px);
  margin: 13px 20px;
  overflow: hidden;
  border-radius: 10px;
}
.home .conteinerAds .ads img {
  width: 100%;
  border-radius: 10px;
}
.home .FixBtn {
  position: fixed;
  bottom: 0px;
  height: 160px;
  width: 450px;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.95) 60%, rgba(255, 255, 255, 0.5) 84%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home .FixBtn .BtnF {
  width: 80%;
  height: 100px;
  background: white;
  border-radius: 20px;
  margin-top: -20px;
  box-shadow: 0px 5px 15px 2px rgba(55, 48, 73, 0.3);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}
.home .FixBtn .BtnF .btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.home .FixBtn .BtnF .btn span {
  background: #02205F;
  font-size: 22pt;
  color: white;
  padding: 8px;
}
.home .FixBtn .BtnF .btn p {
  font-family: "Regular";
}

.logoGroup {
  width: 170px;
  align-self: flex-end;
  margin: 20px auto 0px auto;
}

.logos {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 93px;
}
.logos .company {
  width: 88px;
  margin: 4px;
  height: 100px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.logos .company :last-child {
  margin-top: -1px;
}
.logos .company p {
  font-family: "Regular";
  text-align: center;
  font-size: 9pt;
  margin-top: 3px;
  white-space: nowrap;
}
.logos .company img {
  width: 50px;
  height: 50px;
  padding: 7px;
  border: 1px rgba(55, 48, 73, 0.1) solid;
  border-radius: 15px;
}

.company {
  display: flex;
  flex-direction: column;
}
.company .logoGroup {
  align-items: flex-end;
}
.company .title {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 1px #e6e7e8 solid;
  margin-top: 30px;
}
.company .title p {
  font-family: "bold";
  margin: 0px auto -1px auto;
  text-align: center;
  width: 90%;
  border-bottom: 1px #373049 solid;
}
.company .title :nth-child(1) {
  border-bottom: 1px #e6e7e8 solid;
  cursor: pointer;
  flex: 1;
}
.company .title :nth-child(2) {
  cursor: pointer;
  flex: 2;
}
.company .other {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0px auto;
  margin-bottom: 25px;
}
.company .other p {
  text-align: center;
  width: 80%;
  border: 1px #834c9e solid;
  padding: 8px 0px;
  border-radius: 8px;
  font-family: "Regular";
  color: #834c9e;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
}
.info .pictuer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0px auto;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 190px;
  height: 190px;
  overflow: hidden;
}
.info .pictuer img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 2px #834c9e solid;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}
.info .pictuer .brdw {
  border: 1px #834c9e solid;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  left: 14px;
  z-index: 1;
}
.info .tb {
  z-index: 2;
  width: 100%;
  border-top: 1px #834c9e solid;
  margin-bottom: 30px;
}
.info .tb .istp {
  margin: -19px auto 0px auto;
  width: 150px;
  padding: 3px 0px;
  background: white;
  border: 2px #834c9e solid;
  color: #02205F;
  text-align: center;
  font-family: "Regular";
  bottom: 17px;
  z-index: 2;
  font-size: 13pt;
  border-radius: 12px;
}
.info .feild {
  border: 1px #e6e7e8 solid;
  margin: 10px 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
}
.info .feild p {
  font-family: Regular;
}
.info .feild :nth-child(1) {
  text-align: right;
}
.info .feild :nth-child(2) {
  text-align: left;
}

.contact {
  background-color: #834c9e;
  text-align: center;
  width: 80%;
  border: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px auto;
  margin-top: 20px;
  border-radius: 8px;
  height: 42px;
  color: white;
  font-family: "bold";
  font-size: 12pt;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
.btn span {
  font-size: 30px;
  border: 1px #e6e7e8 solid;
  border-radius: 10px;
  color: #834c9e;
  padding: 4px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
}
.btn .eta {
  font-family: "Regular";
  width: 30px;
  height: 30px;
  fill: #000;
}

.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Regular";
  position: fixed;
  bottom: -100%;
  background-color: rgb(33, 7, 77);
  color: white;
  padding: 20px;
  border-radius: 30px 30px 0 0;
  text-align: center;
  z-index: 999;
  height: 33%;
  animation: slideIn 0.5s ease-in-out forwards;
}
@keyframes slideIn {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}
.popup-container .popup-content {
  padding: 20px;
}
.popup-container .popup-text {
  font-family: "Regular";
  font-size: 18px;
  margin: 0;
}
.popup-container .close-button {
  color: #fff;
  float: right;
  font-size: 28px;
  margin-top: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.popup-container .close-button:hover,
.popup-container .close-button:focus {
  color: #b40000;
  text-decoration: none;
  cursor: pointer;
}
.popup-container .popup-inp {
  display: flex;
  flex-direction: column;
}
.popup-container .popup-inp input, .popup-container .popup-inp button {
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 50%;
}
.popup-container .popup-inp input::-moz-placeholder {
  text-align: center;
}
.popup-container .popup-inp input::placeholder {
  text-align: center;
}
.popup-container .popup-inp button {
  cursor: pointer;
  background-color: #834c9e;
  color: #fff;
}
.popup-container .popup-inp input::-webkit-outer-spin-button,
.popup-container .popup-inp input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.popup-container .popup-inp input::-webkit-outer-spin-button input[type=number],
.popup-container .popup-inp input::-webkit-inner-spin-button input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

@media screen and (max-width: 600px) {
  .home, #root {
    width: 100vw;
  }
  .loader {
    width: 100vw;
  }
  .Hdr {
    width: 100% !important;
  }
  .FixBtn {
    width: 100vw !important;
  }
}
@media screen and (min-width: 500px) {
  .popup-container {
    width: 410px;
  }
}/*# sourceMappingURL=style.css.map */